<header>
  <div class="px-3 py-2 text-bg-dark border-bottom">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <ul
          class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
        >
          <li>
            <a [routerLink]="['/', 'event-list']" class="nav-link text-white">
              <img src="events-list-ico.svg" class="bi d-block mx-auto mb-1" width="24" height="24">
              Events List
            </a>
          </li>
          <li>
            <a [routerLink]="['/', 'calendar']" class="nav-link text-white">
              <img src="calendar-ico.svg" class="bi d-block mx-auto mb-1" width="24" height="24" />
              Calendar
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
