<header>
  <app-calendar-header [(view)]="view" [(viewDate)]="viewDate" />
</header>

@defer () {
<main>
  <ng-template
    #customCellTemplate
    let-day="day"
    let-locale="locale"
    let-month="month"
  >
    <div class="cal-cell-top">
      <span class="cal-day-number">{{
        day.date | calendarDate : "monthViewDayNumber" : locale
      }}</span>
    </div>
    <app-calendar-month-cell [viewDay]="day" [events]="events()" />
  </ng-template>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events()"
      [activeDayIsOpen]="false"
      [refresh]="refresh"
      (eventTimesChanged)="eventTimesChanged($event)"
      [cellTemplate]="customCellTemplate"
      class="align-items-end month-cell"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events()"
      [refresh]="refresh"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events()"
      [refresh]="refresh"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>
</main>
} @placeholder {
<div class="d-flex justify-content-center align-items-center">
  <span class="loader align-self-center"></span>
</div>
}
