.status-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid;
}

.user-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
}

.status {
  &-confirmed {
    #color {
      fill: #198754;
    }

    &.status-image {
      outline: 2px solid #198754;
      border: 1px solid #ced4da;
    }
  }

  &-pending {
    #color {
      fill: #f7ca45;
    }

    &.status-image {
      outline: 2px solid #ffc107;
      border: 1px solid #ced4da;
    }
  }

  &-declined {
    #color {
      fill: #dc3545;
    }

    &.status-image {
      outline: 2px solid #dc3545;
      border: 1px solid #ced4da;
    }
  }
}

.status-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.tooltip-inner {
  background-color: #ffffff;
  border: 1px solid #0062a2;
  opacity: 1;
}

.bs-tooltip-top .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^="top"] .tooltip-arrow::before {
  border-top-color: #0062a2 !important;
}

.bs-tooltip-top {
  opacity: 1 
  !important;
}
.accordion-button:not(.collapsed) {
  outline: none;
  background-color: #fff
}
