.status-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid;
}
.user-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
}
.status-confirmed {
  border: 3px solid green;
}
.status-pending {
  border: 3px solid yellow;
}
.status-declined {
  border: 3px solid red;
}

.status-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.divider {
  border-bottom: 1px solid #dee2e6;
  margin: 10px 0;
}
