<div class="login-container">
    <div class="login-box">
      <div class="login-header">
        <img src="https://cdn-icons-png.flaticon.com/512/732/732223.png" alt="Outlook Logo" class="outlook-logo">
        <h2>Sign in with your Outlook Account</h2>
      </div>
      
      <div class="login-body">
        <button (click)="login()" class="login-button">
          <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg" alt="Microsoft Logo" class="microsoft-logo">
          Sign in with Microsoft
        </button>
      </div>
    </div>
  </div>
