<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @if(employees()) {
  <div class="mb-3">
    <label for="employee" class="form-label">Employee</label>
    <ng-multiselect-dropdown
      formControlName="employee"
      id="employee"
      name="employee"
      placeholder="Select employees"
      [settings]="employeeDropdownSettings"
      [data]="employees()"
    >
    </ng-multiselect-dropdown>
  </div>
  <div class="mb-3">
    <label for="employee" class="form-label">Status</label>
    <ng-multiselect-dropdown
      formControlName="status"
      id="status"
      name="status"
      placeholder="Select status"
      [settings]="statusDropdownSettings"
      [data]="statuses"
    >
    </ng-multiselect-dropdown>
  </div>
  <div class="mb-3">
    <label for="dates" class="form-label">Event dates</label>
    <app-range-datepicker id="dates" name="dates" formControlName="dates" />
  </div>
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary">Apply</button>
    <button
      type="button"
      class="btn btn-outline-secondary ms-2"
      (click)="onClose()"
    >
      Cancel
    </button>
  </div>
  }
</form>
