@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/_variables.scss";

.line-container {
  width: 100%;
  height: 100%;

  .line {
    height: 22px;
  }

  .internal-line {
    height: 22px;
  }

  .tooltip-inner {
    min-width: 100%;
    height: 100%;
    background-color: mix($gray-100, $white);
    border: 1px solid #0062a2;
    opacity: 1;
  }

  .bs-tooltip-top .tooltip-arrow::before,
  .bs-tooltip-auto[data-popper-placement^="top"] .tooltip-arrow::before, .tooltip-arrow {
    display: none;
  }

  .bs-tooltip-top {
    opacity: 1 !important;
  }
}
