<div class="line-container position-relative">
  @if(firstDisplayEvent) {
  <div
    class="line container-fluid border-end-0 border-start-0 position-absolute bottom-0"
    [class]="definePaletteFromStatus(firstDisplayEvent)"
  >
    @if(isFirstEventStartDay()) {
    <p class="position-relative">
      <b>{{ firstDisplayEvent!.userName }}</b>
    </p>
    }
  </div>
  } @if(moreEvents.length > 0) {
  <div
    class="line position-absolute container-fluid text-center more-line border-end-0 border-start-0"
    [ngbTooltip]="moreLineContent"
    placement="top"
    triggers="click"
    tooltipClass="container-fluid"
    [style]="{ bottom: firstDisplayEvent ? '23px' : '0' }"
  >
    +{{ moreEvents.length }}
  </div>
  <ng-template #moreLineContent>
    @for(event of moreEvents; track event.id) {
    <div
      class="internal-line container-fluid border-end-0 border-start-0"
      [class]="definePaletteFromStatus(event)"
    >
      @if(event.userName) {
      <p class="position-relative text-start text-dark">
        <b>{{ event.userName }}</b>
      </p>
      }
    </div>
    }
  </ng-template>
  }
</div>
